@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    min-height: 100vh;
    background-color:#F4F0FC;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------- */

/* Intro - nome + capa */
header {
    background: url("../../image/background.png"); 
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 100%;
}

.meu_nome {
    background: url("../../image/nome.png"); 
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: 125vh 15vw;
    min-height: 100vh; 
}

.funcao {
    background: url("../../image/fullstack.png");
    background-repeat: no-repeat;
    background-size: 45vh;
    background-position: 156.6vh 31.2vw;
    min-height: 100vh; 
}

.linha_pri{
    margin-top: 20px;
    background-color: #ffbd42ba;
    height: 2rem;
    width: 100%;
}

.linha_seg{
    margin-top: 15px;
    background-color: #ffbd425d;
    height: 1rem;
    width: 100%;
    margin-bottom: 20px;
}



/* --------------------------------------------------------------- */
/* Menu grudado na esquerda */

.menu {
    padding: 20px 20px 0px 0px;
    position: fixed;
    bottom: 5%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 999;
}

.botao_sobre,
.botao_projetos,
.botao_contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #333;
    border: none;
    width: 60px; 
    height: 60px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    padding: 0 10px;
    transition: width 0.4s ease, background-color 0.3s ease;
    
    font-weight: bold;
    cursor: pointer;
}

.botao_sobre{
    background-color: #FC3C76;
}
.botao_projetos{
    background-color: #F7B109;
}
.botao_contatos{
    background-color: #85D4CB;
}

.botao_sobre:hover,
.botao_projetos:hover,
.botao_contatos:hover {
    width: 200px; 
    background-color: #FFEB99;
}

.botao_sobre span,
.botao_projetos span,
.botao_contatos span {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
    white-space: nowrap;
}

.botao_sobre:hover span,
.botao_projetos:hover span,
.botao_contatos:hover span {
    opacity: 1;
}

span {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    
}

.frase_center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.frase{
    background-color: #8faedd19;
    color: #1d225154;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: wrap-content;
    height: 10vh;
}


/* --------------------------------------------------------------- */
/* Conteúdo do site*/

.conteudo{
    min-height: 70vh;
}

.sessao_pri{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 50px;
    margin-top: 100px;
}

.fundo_sobre{
    font-size: 1.1rem;
    margin: 30px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #1f2359e3;
    box-shadow: rgba(14, 45, 128, 0.4) 0px 2px 4px, rgba(8, 3, 60, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;  

}

.conteudo_sobre{
    padding: 20px;
}

.fundo_linguagens{
    margin: 30px;
    border-radius: 20px;
    background-color: #8faedd1b;
    background-size: cover;
    width: 30%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(14, 45, 128, 0.4) 0px 2px 4px, rgba(8, 3, 60, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.idioma-card {
  background: #ffffff6c;
  margin: 10px;
  padding: 2rem;
  border-radius: 15px;
  color: #1f2359e3;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  font-family: 'Noto Sans', sans-serif;
  transition: transform 0.3s;
}

.idioma-card:hover {
  transform: scale(1.03);
}

.idioma-card h3 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.habilidade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.nivel {
  display: flex;
  gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ddd;
}

.dot.filled {
  background-color: #6c63ff;
}

.dot.empty {
  background-color: #ccc;
}


/* --------------------------------------------------------------- */
/* Carrossel */

.body_carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  display: block;
  background: #fff;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}

.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.card-list .card-link .badge {
  color: #5372F0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #DDE4FF;
  margin: 16px 0 18px;
}

.card-list .card-link .badge-designer {
  color: #B22485;
  background: #F7DFF5;
}

.card-list .card-link .badge-marketer {
  color: #B25A2B;
  background: #FFE3D2;
}

.card-list .card-link .badge-gamer {
  color: #205C20;
  background: #D6F8D6;
}

.card-list .card-link .badge-editor {
  color: #856404;
  background: #fff3cd;
}

.card-list .card-link .card-title {
  color: #0000008e;
  font-size: 1.19rem;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}


/* --------------------------------------------------------------- */


h1{
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* --------------------------------------------------------------- */
/* Efeito scrollreveal - static/javascript/reveal.js */

.efeito_txt_topo, .efeito_divp_topo, .efeito_divs_topo, .efeito_txt_frase, .efeito_div_pri, .body_carrossel{
    visibility: hidden;
}

/* --------------------------------------------------------------- */
/* Contatos - Última sessão */

footer {
    background-color: #1e1c1a;
    width: 100%;
    padding: 60px 0; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.redes_sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.github, .linkedin, .email {
    font-size: 2.5rem; 
    color: #F4F0FC;
    transition: color 0.3s ease, transform 0.3s ease;
}

.github:hover, .linkedin:hover, .email:hover {
    color: #ffbd42;
    transform: scale(1.1); 
}


/* --------------------------------------------------------------- */
/* Form - mandar email para meu contato */

.container_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    max-width: 1100px; 
    flex-wrap: wrap; 
}

.form_mensagem {
    background-color: #2a2826; 
    padding: 2rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    width: 100%;
    max-width: 500px;
    font-size: 1.125rem;
    flex: 1;
}

.form_mensagem h2 {
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form_mensagem label,
.form_mensagem input,
.form_mensagem textarea,
.form_mensagem button {
    display: block;
    width: 100%;
}

.form_mensagem label {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    color: #ffffffc3;
    margin-bottom: 0.5rem;
}

.form_mensagem input,
.form_mensagem textarea {
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid #444; 
    border-radius: 8px;
    background-color: #333; 
    color: #F4F0FC;
    transition: all 0.3s ease;
}

.form_mensagem textarea {
    min-height: 130px;
    resize: none;
}

.form_mensagem input:focus,
.form_mensagem input:hover,
.form_mensagem textarea:focus,
.form_mensagem textarea:hover {
    outline: none;
    border-color: #ffbd42;
    box-shadow: 0 0 10px #ffbd425d;
}

.form_mensagem button {
    background-color: #ffbd42;
    color: #1e1c1a;
    border: none;
    padding: 0.9rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 1rem; 
}

.form_mensagem button:hover {
    background-color: #f7b109;
    transform: translateY(-3px); 
}

.img_correio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../image/correio.png");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: contain; 
    width: 450px;
    height: 450px;
    flex: 1;
}


/* --------------------------------------------------------------- */

@media (max-width: 900px) {
    .container_contato {
        flex-direction: column;
    }

    .img_correio {
        width: 300px;
        height: 300px;
        order: -1; 
        margin-bottom: 2rem;
    }

    .form_mensagem {
        max-width: 100%;
    }
}

