
*{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color:#F4F0FC;
    background-repeat: no-repeat;
}

/* --------------------------------------------------------------- */

/* Primeira sessão do site - nome + capa */
header {
    background: url("../../image/background.png"); 
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 100%;
}

.meu_nome {
    background: url("../../image/nome.png"); 
    background-repeat: no-repeat;
    background-size: 80vh;
    background-position: 125vh 15vw;
    min-height: 100vh; 
}

.funcao {
    background: url("../../image/fullstack.png");
    background-repeat: no-repeat;
    background-size: 45vh;
    background-position: 156.6vh 31.2vw;
    min-height: 100vh; 
}

.linha{
    margin-top: 20px;
    background-color: #ffbd42ba;
    height: 1rem;
    width: 100%;
}

/* --------------------------------------------------------------- */
/* Menu grudado na esquerda */

.menu {
    padding: 20px 20px 0px 0px;
    position: fixed;
    bottom: 5%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 999;
}

.botao_sobre,
.botao_projetos,
.botao_contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #333;
    width: 60px; 
    height: 60px;
    border-radius: 0 10px 10px 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    padding: 0 10px;
    transition: width 0.4s ease, background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.botao_sobre{
    background-color: #FC3C76;
}
.botao_projetos{
    background-color: #F7B109;
}
.botao_contatos{
    background-color: #85D4CB;
}

.botao_sobre:hover,
.botao_projetos:hover,
.botao_contatos:hover {
    width: 200px; 
    background-color: #FFEB99;
}

.botao_sobre span,
.botao_projetos span,
.botao_contatos span {
    opacity: 0;
    transition: opacity 0.3s ease 0.2s;
    white-space: nowrap;
}

.botao_sobre:hover span,
.botao_projetos:hover span,
.botao_contatos:hover span {
    opacity: 1;
}

span {
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-size: 30px;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    
}

/* --------------------------------------------------------------- */
/* Conteúdo do site*/

.fundo_intro, .fundo_att {
    color: rgb(255, 255, 255);
    background-color: #F4AD79;
    width: fit-content;
    margin: 2rem auto; 
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: rgba(240, 107, 46, 0.4) -5px 5px, rgba(240, 117, 46, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.txt_sobre{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 60%;
    height: 100vh;
    margin: 2rem auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: top;
    justify-content: top;
    border-radius: 0.5rem;
}

.txt_intro{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.github,.linkedin, .email {
    font-size: 5vh;
    color: #F4F0FC;
}

/* Efeito scrollreveal - static/javascript/reveal.js */
.efeito_txt_topo, .efeito_botao_menu{
    visibility: hidden;
}

/* --------------------------------------------------------------- */
/* Contatos - Última sessão */
footer{
    background-color: #0b0713;
    width: 100vw;
    height: 100vh;
}

.redes_sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}